#buttons-home {
  display: flex;
}
#content-home a {
  margin: 10px 10px 0px 0px;
}
#content-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content-home h1 {
  color: white;
  font-size: 2.3rem;
}
#content-home p {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 10px;
  font-size: 1.2rem;
}
#content-home p .stack {
  margin-left: 10px;
  font-weight: 600;
}
#projetos h2 {
  color: #000000;
}
.grid-item p {
  margin: 0;
}
.grid-item .project-name {
  font-weight: 600;
}
.img-grid {
  height: 9rem;
  padding-bottom: 1rem;
}
.img-grid img {
  border-radius: 0%;
}
.rounded img {
  border-radius: 50%;
}
#contact-list {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
#curriculo a {
  max-width: 50%;
}

.content-row {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  background-color: #ffffff;
  padding: 20px 0px;
}
