* {
  border: 0;
  margin: 0;
  z-index: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: #f9f4ed;
}
p {
  color: #444444;
}
.contatos {
  margin-top: 1rem;
}
.contatos a {
  margin: 1rem;
  text-decoration: none;
}
.contatos a svg {
  fill: #444444;
}
.projeto .image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.projeto {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "image title "
    "image desc ";
  grid-template-columns: 10% 90%;
  grid-gap: 10px;
  margin: 50px 0;
}
.projeto .image {
  transition: 0.6s;
  grid-area: image;
  max-width: 10vw;
}
.projeto .subtitle {
  text-align: center;
  padding: 0;
  grid-area: title;
}
.projeto .text {
  text-align: center;
  padding: 0;
  grid-area: desc;
}
.banner {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .title {
  font-size: 2rem;
  font-weight: bolder;
}
.banner .intro {
  font-size: 1.2rem;
}
.header {
  z-index: 1;
  display: flex;
  padding-left: 5vw;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  font-weight: 700;
  background-color: #f9f4ed;
  box-shadow: 0px 1px 4px 0px rgba(68, 68, 68, 0.75);
}
.header ul {
  list-style-type: none;
  padding: 0px 5vw;
}
.header ul li {
  height: 100%;
  float: left;
}
.header ul li a {
  transition: 0.2s;
  color: #444444;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.header ul li a:hover {
  color: #f9f4ed;
  background-color: #444444;
}
section {
  min-height: 93vh;
}
section .title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
section .subtitle {
  font-size: 1.2rem;
  padding-left: 1rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
section .text {
  font-size: 1rem;
  padding-left: 1.5rem;
  font-weight: 50;
  padding-bottom: 0.5rem;
}

@media (min-width: 721px) {
  .header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  section {
    padding: 7vh 5vw 3vh;
  }

  .projeto:hover .image {
    transform: translateX(30vw) scale(1.2);
    opacity: 0.4;
  }
}

@media (max-width: 720px) {
  section {
    padding: 3vh 5vw 7vh;
  }
  .header {
    height: 56px;
    position: fixed;
    bottom: 0;
    padding: 0;
  }
  .header p {
    display: none;
  }
  .header ul {
    height: 56px;
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }
  .header ul li a {
    padding: 16px 5px;
    height: 24px;
  }
  .header ul li a:hover {
    color: #444444;
    background-color: #f9f4ed;
    text-decoration: underline;
  }
  .projeto {
    grid-template-areas:
      "image " "title "
      " desc ";

    grid-template-columns: 90vw;
  }
  .projeto .image {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    max-width: 100%;
  }

  .projeto .image img {
    height: 100%;
    width: auto;
  }
}
